<div class="title">
    <a href="api/posts/{{id}}">{{title}}</a>
</div>
<div class="body">
    {{post_body}}
</div>
<div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="api/posts/{{id}}">{{format_plural comments.length}} comment(s)</a>
</div>